body{
  background-color: rgba(19, 5, 122, 0.931);
  color: white;
  font-family: fantasy;
}

h1 {
  margin-left: 25px;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  margin: 0;
  padding: 0;
}

#image-list-grid {
  padding: 0;
  margin: 0;
}

#image-list-container{
  padding: 0;
}
